html{scroll-behavior: smooth;}

body
{ overflow-x:hidden; }

a{
    text-decoration: none;
}


.grid-box{
    display:grid;
    /* row-gap:15% ; */
    grid-template-areas: 'top top top top top top','intro intro intro intro intro intro','about about about about about about','My_work My_work My_work My_work My_work My_work', 'para3 para3 para3 para3 para3 para3','para4 para4 para4 para4 para4 para4','contact contact contact contact contact contact', 'last last last last last last';
    grid-template-rows: auto auto auto auto auto auto auto auto ;
}
.top{
    grid-area:top;  
    display:grid;
    grid-template-areas: 'name name sidebar sidebar sidebar sidebar';
    column-gap: 15%;
}

#name{
    
    font-family: 'Sacramento', cursive;
    font-size:40px;
    color:#ff3276;
    z-index: 2;
    grid-area:name;
}
#sidebar{
    grid-area:sidebar;
    font-family: 'Baloo 2', cursive;
    font-size:30px;
    /* color:#ff3276; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#a,#w,#c{
    height:30px;
    width:auto;
    left:50px;
    color:#44f08b;
    border-color:white;
    border-width:4px;
    border-style:solid;
    padding: 2px;
    margin:5px auto;
    border-left-width: 0px;
}
#a:hover,#w:hover,#c:hover{
 text-decoration:underline;
 transform: scale(1.08);
}

.intro{
    grid-area:intro;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    background-color: #ff3276;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
}

#my-pic{
    height:520px;
    width:390px;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    padding:20px;
    margin:10px;
    border-radius: 100%;
}

#para1{
     font-family: 'EB Garamond', serif;
     font-size:56px;
     font-weight: bold;
     color:white;
     position:relative;
     top:50px;
     right:100px;
     height:auto;
     width:350px;
     /* margin:30px 50px; */
}

.about{
    grid-area:about;
}

#about{
display:flex;
flex-wrap: wrap;
flex-direction:row;
justify-content: space-evenly;
}
#para2{
    position:relative; 
    font-family: 'Baloo 2', cursive;
    color:#44f08b;
    font-size:36px;
    height:auto;
   margin-top:5%;
    width:500px;
    }

h3{color:#ff3276;
    box-align:center;
    font-size:40px;
}
#bitmoji{
    position:relative;
    top:200px; 
   margin-left:15%;
}

.My_work{
    margin-top: 8.5%;
   grid-area:My_work;
}
h2{position:relative;
    font-family: 'Gotu', sans-serif;
    font-size:40px;
    font-weight:bold;
    text-align:center;  
    text-decoration: underline;
    color:#ff3276;}
.para3{
    grid-area:para3;
    position: relative;
    margin-top:5%;
    display:flex;
    flex-direction: row; 
    flex-wrap: wrap-reverse; 
    font-family: 'Amita', cursive;
   font-size: 32px;
   color:#ff3276;
   justify-content: space-evenly;
   
}
#work1,#work2,#work3{ 
    position: relative;
    height:300px;
    width:340px;
    box-shadow:20px 20px 0px #44f08b;
    background-color: #d3d3d3;
    margin:30px 30px;
    
}

#work1:hover,#work2:hover,#work3:hover{
    transform:scale(1.12);
}

.para4{
    grid-area:para4;
    margin-top:10%;
}
#para4
{ position:relative;
  text-align:center;
  font-family: 'Amita', cursive;
  font-size: 36px;
  color:#ff3276;
   }

   #logo{
       position: relative;
       height:80px;
       width:80px;
       border-radius:100%;
       top:25%;
       border-color:#44f08b;
       border-width:4px;
       border-style:solid;
      
   }
   #logo:hover{
       transform:scale(1.2);
       border-color:#008000;
   }

.contact{
    grid-area:contact;
    margin-top:10%;
    position:relative;
     text-align:center;
      background-color:#ff3276;
      color:white;
     font-family: 'Amita', cursive;
     font-size: 26px;
     height:180px;
     margin-bottom: 10%;
     
   }
#fb,#insta{
    position: relative;
    height:40px;
    width:40px;
    border-radius:100%;
    border-color:white;
    border-width:4px;
    border-style:solid;
    margin-top:0.8%;
}
#fb:hover,#insta:hover{
    transform:scale(1.2);
}


.last{
    grid-area:last;
    font-family: 'Sacramento', cursive;
    font-size: 44px;
    color:#44f08b;
    text-align:center;
    display:inline;

}

#heart img{
    position: relative;
    right:0;
    margin:0 auto;
    z-index: 5;
    display:inline-block;
   }
  
   @keyframes heartFadeInOut {
    0% {transform: scale(1);}
    25% {transform: scale(.97);}
    35% {transform: scale(.9);}
    45% {transform: scale(1.1);}
    55% {transform: scale(.9);}
    65% {transform: scale(1.1);}
    75% {transform: scale(1.03);}
    100% {transform: scale(1);}
  }
  
  #heart{ 
    animation-name: heartFadeInOut; 
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
 


  @media screen and (max-width:800px) 
{   #my-pic{
    height:400px;
    width:280px;
    border-width:2px;
}
#name{
    font-size:30px;
}
#sidebar{
    font-size:24px;
}
.intro{
    justify-content: center;
}

#bitmoji{
    display:none;
}
#para1{
    display:none;
}
}

 @media screen and (max-width:1500px) {
   .intro{
    justify-content: space-between;
     }
    
} 

@media screen and (max-width: 1200px){
    #my-pic{
        margin-left:35%;
    }
    #para1{
        display:none;
    }
    #bitmoji{
        display:none;
    }
}